{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'myapp/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'myapp/css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'myapp/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'myapp/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'myapp/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'myapp/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'myapp/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        hello.colorlib@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +65 11.188.888
                    </div>
                </div>
                <div class="ht-right">
                    <a href="#" class="login-panel"><i class="fa fa-user"></i>Login</a>
                    <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="img/flag-1.jpg" data-imagecss="flag yt"
                                data-title="English">English</option>
                            <option value='yu' data-image="img/flag-2.jpg" data-imagecss="flag yu"
                                data-title="Bangladesh">German </option>
                        </select>
                    </div>
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="{% static 'myapp/img/logo.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" class="category-btn">All Categories</button>
                            <form action="#" class="input-group">
                                <input type="text" placeholder="What do you need?">
                                <button type="button"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="heart-icon"><a href="#">
                                    <i class="icon_heart_alt"></i>
                                    <span>1</span>
                                </a>
                            </li>
                            <li class="cart-icon"><a href="#">
                                    <i class="icon_bag_alt"></i>
                                    <span>3</span>
                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="si-pic"><img src="{% static 'myapp/img/select-product-1.jpg' %}" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>$60.00 x 1</p>
                                                            <h6>Kabino Bedside Table</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="si-pic"><img src="{% static 'myapp/img/select-product-2.jpg' %}" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>$60.00 x 1</p>
                                                            <h6>Kabino Bedside Table</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total">
                                        <span>total:</span>
                                        <h5>$120.00</h5>
                                    </div>
                                    <div class="select-button">
                                        <a href="#" class="primary-btn view-card">VIEW CARD</a>
                                        <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-price">$150.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>All departments</span>
                        <ul class="depart-hover">
                            <li class="active"><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Underwear</a></li>
                            <li><a href="#">Kid's Clothing</a></li>
                            <li><a href="#">Brand Fashion</a></li>
                            <li><a href="#">Accessories/Shoes</a></li>
                            <li><a href="#">Luxury Brands</a></li>
                            <li><a href="#">Brand Outdoor Apparel</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        <li><a href="#">Collection</a>
                            <ul class="dropdown">
                                <li><a href="#">Men's</a></li>
                                <li><a href="#">Women's</a></li>
                                <li><a href="#">Kid's</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'shoppingcart' %}">Shopping Cart</a></li>
                                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                <li><a href="{% url 'faq' %}">Faq</a></li>
                                <li><a href="{% url 'register' %}">Register</a></li>
                                <li><a href="{% url 'login' %}">Login</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <form action="/checkout/">
        <!--================Checkout Area =================-->
        <section class="checkout_area section_gap">
          <center>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <h3 class="dart-pb-20">Your Order</h3>
                            <table class="table cart checkout" border="1">
                                <thead>
                                    <tr>
                                        <th class="cart-product-thumbnail">Product</th>
                                        <th class="cart-product-name">Name</th>
                                        <th class="cart-product-quantity">Quantity</th>
                                        <th class="cart-product-subtotal">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in cid %}
                                    <tr class="cart_item">
    
                                        <td class="cart-product-thumbnail">
                                            <a href="#"><img width="64" height="64" src="{{x.IMG.url}}"
                                                    alt="Pink Printed Dress"></a>
                                        </td>
    
                                        <td class="cart-product-name">
                                            <a href="#">{{x.name}}</a>
                                        </td>
    
                                        <td class="quantity">
                                            <span>{{x.que}}</span>
                                        </td>
    
                                        <td class="cart-product-subtotal">
                                            <span class="amount">{{x.total_price}}</span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> 
                    </div>
    
                 
                    <div class="col-md-12">
                        <div class="table-responsive totle-cart">
                            <h3>Cart Total</h3>
                            <table class="table cart" border="1"> 
                            
                                <tbody>
                                    <tr class="cart_item cart_totle">
                                        <td class="cart-product-name">
                                            <strong>Cart Subtotal</strong>
                                        </td>
    
                                        <td class="cart-product-name">
                                            <span class="amount">Rs.{{sub_total}}</span>
                                        </td>
                                    </tr>
                                    <tr class="cart_item cart_totle">
                                        <td class="cart-product-name">
                                            <strong>Shipping</strong>
                                        </td>
                                        <td class="cart-product-name">
                                            <span class="amount"> Rs.50</span>
                                        </td> 
                                    </tr>
                                    <tr class="cart_item cart_totle">
                                        <td class="cart-product-name">
                                            <strong>Total</strong>
                                        </td>
                                        <td class="cart-product-name">
                                            <span class="blue"><strong>Rs.{{total}}</strong></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>    
                    </div>
                    
                    
                    <div class="payments-options">
                        <ul class="list-unstyled">
                            <li>
                                <label for="payment_method_paypal" id="paypal-transfer">
                                    <input required type="radio" data-order_button_text="Proceed to PayPal" value="bacs"
                                        name="payment_method" class="input-radio" id="payment_method_paypal">
                                    Paypal payment <img src="" alt="">
                                </label>
                                <div class="paypal-transfer-msg">
                                    <p>Pay via PayPal; you can pay with your credit card if you don't have a PayPal
                                        account.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                   
                    
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary">Place Order</button>
                  </div>
                     
                  </div><base href="">
              </div>
          </center>
          </section>
          <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_bilBagOBVTi4lE"
              data-amount={{response.amount}} data-currency={{response.currency}} 
              data-buttontext="Pay with Razorpay" data-name="{{request.user}}" data-theme.color="#F37254" data-description=""
              data-image="" data-prefill.name={{request.user.username}} data-prefill.email={{request.user.email}}>
         </script>
          <input type="hidden" custom="Hidden Element" name="hidden">
      
       </script>
    </form> 
    <!-- Shopping Cart Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'myapp/img/logo-carousel/logo-1.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'myapp/img/logo-carousel/logo-2.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'myapp/img/logo-carousel/logo-3.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'myapp/img/logo-carousel/logo-4.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'myapp/img/logo-carousel/logo-5.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="{% static 'myapp/img/footer-logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello.colorlib@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Serivius</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>My Account</h5>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Shopping Cart</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                            <img src="{% static 'myapp/img/payment-method.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'myapp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'myapp/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.dd.min.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'myapp/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'myapp/js/main.js' %}"></script>
</body>

</html>